.container {
  width: 80%;
  padding: 50px 0;
  margin: 50px auto;
  position: relative;
  overflow: hidden; }

.container:before {
  content: '';
  position: absolute;
  top: 0;
  left: 50%;
  margin-left: -1px;
  width: 2px;
  height: 100%;
  background: #CCD1D9;
  z-index: 1; }

.timeline-block {
  width: -webkit-calc(50% + 8px);
  width: -moz-calc(50% + 8px);
  width: calc(50% + 8px);
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -moz-box-pack: justify;
  justify-content: space-between;
  clear: both; }

.timeline-block-right {
  float: right; }

.timeline-block-left {
  float: left;
  direction: rtl; }

.marker {
  width: 16px;
  height: 16px;
  border-radius: 50%;
  border: 2px solid #F5F7FA;
  background: #4FC1E9;
  margin-top: 10px;
  z-index: 9999; }

.timeline-content {
  width: 95%;
  padding: 0 15px;
  color: #666; }

.timeline-content h3 {
  margin-top: 5px;
  margin-bottom: 5px;
  font-size: 25px;
  font-weight: 500; }

.timeline-content span {
  font-size: 15px;
  color: #a4a4a4; }

.timeline-content p {
  font-size: 14px;
  line-height: 1.5em;
  word-spacing: 1px;
  color: #888; }

@media screen and (max-width: 768px) {
  .container:before {
    left: 8px;
    width: 2px; }
  .timeline-block {
    width: 100%;
    margin-bottom: 30px; }
  .timeline-block-right {
    float: none; }
  .timeline-block-left {
    float: none;
    direction: ltr; } }

.about_me {
  height: auto;
  width: 100%;
  overflow: hidden;
  text-align: center;
  color: #5B5A60;
  margin-bottom: 2rem; }
  .about_me span {
    cursor: pointer; }
  .about_me_photo {
    position: relative;
    top: 1rem;
    display: block;
    margin: 0 auto;
    width: 180px;
    height: auto;
    border-radius: 180px;
    margin-bottom: 4rem; }
  .about_me_icon-area {
    position: relative;
    font-size: 1.2rem; }
    .about_me_icon-area i {
      border: 1px solid #5B5A60;
      border-bottom: none;
      padding: 10px;
      color: #5B5A60; }
      .about_me_icon-area i:hover {
        color: seagreen;
        border: 1px solid seagreen; }
    .about_me_icon-area .skill {
      border-right: none; }
    .about_me_icon-area .personality {
      border-right: none; }
    .about_me_icon-area .active {
      color: seagreen;
      font-size: 2rem;
      font-weight: bold;
      position: relative;
      bottom: 0.5rem;
      text-decoration: underline; }
  .about_me_content-area {
    height: auto;
    width: 100%; }
    .about_me_content-area_content {
      position: absolute;
      left: 15%;
      width: 70%;
      border: 1px solid #5B5A60;
      height: auto;
      margin-bottom: 2rem; }

@media screen and (min-width: 375px) and (max-width: 768px) {
  .about_me_photo {
    width: 120px;
    top: 2rem;
    margin-bottom: 3rem; }
  .about_me_content-area {
    margin-bottom: 2rem; } }
