@import './experience.scss';
.about_me {
    height: auto;
    width: 100%;
    overflow: hidden;
    text-align: center;
    color: #5B5A60;
    margin-bottom: 2rem;
    span {
      cursor: pointer;
    }
    &_photo {
      position: relative;
	    top: 1rem;
	    display: block;
      margin: 0 auto;
      width: 180px;
      height: auto;
      border-radius: 180px;
      margin-bottom: 4rem;
    }
    &_icon-area {
      position: relative;
      font-size: 1.2rem;
      i {
        border: 1px solid #5B5A60;
        border-bottom: none;
        padding: 10px;
      	color: #5B5A60;
        &:hover {
          color: rgba(46,139,87,1);
          border: 1px solid rgba(46,139,87,1);
        }
      }
      .skill {
        border-right: none;
      }
      .personality {
        border-right: none;
      }
      .active {
      	color: rgba(46,139,87,1);
      	font-size: 2rem;
      	font-weight: bold;
      	position: relative;
      	bottom: 0.5rem;
      	text-decoration: underline;
      }
    }
    &_content-area {
      height:auto;
      width: 100%;
      &_content {
        position: absolute;
        left: 15%;
        width: 70%;
        border: 1px solid #5B5A60;
        height: auto;
        margin-bottom: 2rem;
      }
    }

}
@media screen and (min-width: 375px) and (max-width: 768px) {
  .about_me {
     &_photo {
       width: 120px;
       top: 2rem;
       margin-bottom: 3rem;
     }
     &_content-area {
       margin-bottom: 2rem;
     }
  }
}